.top {
  display: flex;
  align-items: center;
}

.text {
  flex: 1;
  padding: 20px;
}

.image {
  margin-left: 20px;
}

.image img {
  max-width: 100%;
  height: auto;
  margin-left: 600px;
  height: 200px;
}

h2 {
  font-size: xxx-large;
  font-weight: bolder;
  font-style: oblique;
}

p {
  font-size: x-large;
}

.button {
  margin: 20px;
  border: 1px solid black;
  color: white;
  background-color: blue;
  border-radius: 5px;
}
.menu {
  height: 5em;
  background-color: #677ae4;
  background-color: #05526a;
  background-color: #e46855;
}

.menu h1 {
  position: relative;
  padding: 5px 0 0 8px;
  color: #f9f9f9;
  font-size: 1.8em;
  font-style: italic;
}

.menu a,
.menu .links {
  display: inline-block;
}

.menu a {
  text-decoration: none;
  padding: 0 15px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.menu a:hover,
.menu a.active {
  opacity: 1;
}

.menu .links {
  padding: 0 21px;
  margin: 10px;
}

.menu .links a {
  position: relative;
  bottom: 5px;
}
