.top {
  display: flex;
  align-items: center;
  background-color:rgb(194, 142, 247);
}

.text {
  flex: 1;
  padding: 20px;
}

.image {
  margin-left: 20px;
}

.image img {
  max-width: 100%;
  margin-left: 600px;
}

h2 {
  font-size: xxx-large;
  font-weight: bolder;
  font-style: oblique;
}

p {
  font-size: x-large;
}

.button {
  margin: 20px;
  border: 1px solid black;
  color: white;
  background-color: blue;
  border-radius: 5px;
}

.menu {
  height: 5em;
  background-color: #e46855;
}

.menu h1 {
  position: relative;
  padding: 5px 0 0 8px;
  color: #f9f9f9;
  font-size: 1.8em;
  font-style: italic;
}

.menu a,
.menu .links {
  display: inline-block;
}

.menu a {
  text-decoration: none;
  padding: 0 15px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.menu a:hover,
.menu a.active {
  opacity: 1;
}

.menu .links {
  padding: 0 21px;
  margin: 10px;
}

.menu .links a {
  position: relative;
  bottom: 5px;
}

.menu .results {
  display: none;
  position: absolute;
  width: 215px;
  top: 54px;
  left: 10px;
  background-color: rgb(217, 217, 216);
  border-right: 1px solid rgb(0 0 0 / 5%);
  border-bottom: 1px solid rgb(0 0 0 / 5%);
}

.results {
  margin-top: -10px;
}

.results li {
  list-style: none;
  padding: 10px 15px;
}

.rental {
  margin-top: 15px;
  background-color: #ffffff;
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  transition: background-color 0.3s ease;
}

.rental .details {
  flex-basis: 50%;
  flex-grow: 2;
  display: flex;
  height: 150px;
  margin: 20px 25px;
  place-content: space-around space-between;
  flex-wrap: wrap;
}

.rental h3 {
  flex-basis: 100%;
}

.rental h3 a {
  display: inline;
}

.rental .detail {
  flex-basis: 50%;
  font-weight: 300;
  font-style: italic;
  white-space: nowrap;
}

.rental .detail span {
  font-weight: 400;
  font-style: normal;
}

.rental:hover {
  background-color: #f59898;
}

.rental img {
  border-radius: 5px;
}

.rental .image img {
  max-width: 100%;
  margin: auto;
}

.rental .image.large {
  margin: 30px 25px 50px;
  flex-basis: 100%;
}

.rental .image small {
  display: block;
  margin-top: 5px;
  margin-bottom: -15px;
  text-align: center;
  color: #016aba;

  /* This is needed to fix a safari clipping issue */
  position: relative;
}

.rental .image.large small {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 110%;
}

.imageLarge {
  width: 800px;
}

.map {
  width: 60%; /* Adjust the width as needed */
}

.detailedMap {
  padding-left: 500px;
}

.searchField {
  margin-left: 600px;
  font-size: larger;
}

.search {
  margin-left: 600px;
  border: 1px solid black;
  height: 20px;
  width: 220px;
  border-radius: 5px;
}
