<div class="rentals">
     <label class="searchField">
          <span>Where would you like to stay</span><br>
          <Input @value={{this.query}} class="search"/>
     </label>
    
     <ul class="results">
          <Rentals::Filter @rentals={{@rentals}} @query={{this.query}} as |results|>
               {{#each results as |rental|}}
                 <li><Rental @rental={{rental}}/></li>
               {{/each}}  
          </Rentals::Filter>
          
     </ul>
</div>