<NavBar/>
<div class="top">
    <Top>
        <h2>TO KNOW ABOUT THE WEBSITE</h2>
    <p>This webstite mainly created to serve the customers best rental houses at your place</p>
    <LinkTo @route="contact" class="button" >contact us</LinkTo>
    </Top>  
</div>
